<a href="https://colab.research.google.com/github/alharuty/PracticandoDS/blob/main/DS_week1_Alla.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Assignment 1: The data life cycle + Summary statistics**

In this week's assignment we will review the data life cycle with a particular application, as well as review some practical and fundamental concepts of statistics.

## **Description**

An individual’s annual income results from various factors. Intuitively, it is influenced by the individual’s education level, age, gender, occupation, and etc.

## **Exercise 1: Data life cycle**

To study the relationship of different variables to the annual income of worldwide workers, you will need to design the entire data plan for the project.

This plan should cover everything from the mechanisms that will be used to collect data from workers, the storage architectures, the identification of errors or inconsistencies that we foresee may occur more frequently, and the specific question we want to answer. The plan will end once the solution to the main goal is obtained and the results have been shared.

Describe all the individual phases your data project should follow and give a brief description of the technical details in each phase. You should customize each phase to the proposed dataset and problem.

MI RESPUESTA

Ciclo de vida de los datos:

1. Compresión de la necesidad: Recopilar la mayor cantidad de datos posible sobre:
  - Salarios de los trabajadores de todo el mundo
  - Sus estudios anteriores
  - Sus años trabajados
  - Los idiomas
  - El país donde vive
  - Género
  - Sector del trabajo
2. Obtener los datos con los que trabajaremos: Puede haber varias formas para recopilar estos datos:
  - Obtener los datos directamente desde las autoridades competentes, Agencia Tributaria, etc.
  - Mandar un formulario a todas las empresas
  - Mandar un formulario a todos los trbajadores
3. Limpiar los datos: Ver si hay casillas vacías y decidir qué vamos a hacer con ellos, si eliminar la fila o rellenarlo con la media o mediana.
4. Ingeniería de características:
5. Modelado predictivo: Usar estadística, programación y modelos IA para resolver las preguntas.
6. Visualización de datos: mediante gráficos.

## **Exercise 2: Central tendency and dispersion**

Once the data has been collected and preprocessed, we are interested in knowing what workers are paid according to different dimensions: their age, their job position, their level of education, ... To do this, it is necessary to use some statistical metrics such as central tendency and dispersion.

We start by loading the dataset we will be working with. Remember that in order to start working with Google Colab you must **Connect to a runtime environment**.

Then you must go to the **Files** folder (in the left panel), where you must upload the csv attached to this assignment.

In [ ]:
import pandas as pd

dataset = pd.read_csv('adult.csv')

**Exercise:** Make a brief preliminar inspection of the dataset, indicating the number of records, the number of descriptors, and the name of the descriptors. If you identify a descriptor that should not appear in the dataset, remove it.

In [ ]:
# dataset.info
print('Dataset has {} records and {} descriptors'.format(*dataset.shape))
print(dataset.columns)

Dataset has 48842 records and 15 descriptors
Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

**Exercise:** Show a random selection of some records from the dataset. This will help you to perform a preliminary visual inspection to confirm that the data has been loaded correctly.

In [ ]:
# MI RESPUESTA
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

To determine the mean, median, and standard deviation for the descriptors of a quantitative nature we will use the _describe()_ method on pandas DataFrame object.

In [ ]:
dataset.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

The 50% attribute indicates the value located in the ordered half of the attribute, which is associated with the median.

Note that for the **capital-gain** and **capital-loss** attributes the mean and median values (both central tendency values) are very different.

**Exercise:** What is the reason for this difference?

**Hint:** You may find it useful to visualize the ordered values of these variables.

In [ ]:
# MI RESPUESTA
dataset.sort_values("capital-gain", ascending=True)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
30520,53,Private,303462,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,30,United-States,<=50K
30499,47,Private,343579,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Mexico,<=50K
30498,53,?,199665,Bachelors,13,Married-civ-spouse,?,Husband,White,Male,0,0,30,United-States,>50K
30497,34,State-gov,252529,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,48,United-States,<=50K
30496,22,Local-gov,50065,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,35,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48371,66,Private,115498,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,?,>50K
5680,34,Private,128016,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,99999,0,40,United-States,>50K
45916,37,Private,171150,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,99999,0,60,United-States,>50K
46087,38,Private,100375,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,60,United-States,>50K
83,44,Self-emp-inc,223881,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,50,?,>50K

MI RESPUESTA: Esa diferencia entre el mean y median, es debido a que en los extremos hay cifras muy diferentes, por lo que en el mean estas cifras están incluidos y distorsionan la realidad, mientras que en el median no, ya que se recoje la cifra que está realmente en la mitad de los elementos.

**Exercise:** What is the mean and standard deviation of the **capital-gain** attribute as a function of the worker's level of education? Order the results by educational level (you may use the **educational-num** descriptor) and interpret the results obtained.

**Hint:** Use the _groupby()_ method of the pandas DataFrame object.

In [ ]:
# MI RESPUESTA
dataset.groupby('educational-num')['capital-gain'].mean()

educational-num
1       732.000000
2       123.591093
3       360.365422
4       242.626178
5       313.398148
6       323.049676
7       203.739514
8       208.579909
9       573.314179
10      559.961574
11      778.602135
12      636.951905
13     1762.564984
14     2583.605947
15    10586.467626
16     5727.769360
Name: capital-gain, dtype: float64

[Your answer here]

## **Exercise 3: Unconditional probability**

For all of the following exercises, the calculation of probabilities should be automatic and adaptive to the increase or decrease of records in the dataset.

**Exercise:** What is the probability that a worker randomly chosen from the dataset is a black male and earns more than 50k per year?

In [ ]:
# MI RESPUESTA
total_workers = dataset.shape[0]
print(total_workers)

black_males = dataset[(dataset['gender'] == "Male") & (dataset['income'] == '>50K') & (dataset['race'] == 'Black')].shape[0]
print(black_males)

probability = black_males/total_workers
print(probability)

48842
434
0.008885795012489251

**Exercise:** What is the probability that a worker randomly chosen from the dataset is a female under 30 years old, married, and earns less than 50k per year?

In [ ]:
# Your answer here
num_total = dataset.shape[0]
num_group = dataset[(dataset['gender'] == 'Female') &
                    (dataset['age'] < 30) &
                    ((dataset['marital-status'] == 'Married-civ-spouse') |
                     (dataset['marital-status'] == 'Married-AF-spouse') |
                     (dataset['marital-status'] == 'Married-spouse-absent')) &
                    (dataset['income'] == '<=50K')].shape[0]

print(num_group / num_total)

0.009766184840915605